body {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #92df82f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.rightNavSection {
    padding-left: 3vh;
}

button {
    background-color: #92df82f6;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#navButton {
    all: unset;
    cursor: pointer;
}

#sitcker {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
}

main {
    height: 93.6vh;
    width: 100vw;
    background-color: #d1d0d0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 2vw;
    cursor: wait;
}